*{
	margin: 0px;
	padding: 0px;
}

html, body{
	width: 100%;
	height: 100%;
}
#cabecalho{
	width: 100%;
	height: 8%;
	background-color: black;
}

#logoC{
	width: 50px;
	height: 5%;
	float: left;
	padding-right: 7%;
	padding-left: 7%;
	margin-left: 41.5%;
	margin-top:-17px;
}

#logoC:hover{
	padding-left: 7%;
	padding-right: 7%;
	background-color: white;
}


	#txtMenu{
		font-family: Georgia;
		font-size: 20px;
		padding-top: 20px;
		float: right;
		color: white;
		padding-right: 10px;
	}

#trabalhos{
	width: 100%;
	min-height: 87%;
	background-color:  white;
}

	#descCate{
		width: 100%;
		height: 15%;
	}

		#titulo{
			font-family: Freestyle Script;
			font-size: 90px;
			color: black;
			margin-right:30px;
			text-align: center;
		}

		#descricao{
			font-family: Lucida Sans Unicode;
			font-size: 19px;
			margin-left: 5px;
			text-align: center;
			color: black;
		}

	#produto1{
		background-image: url("../img/chaveiro.jpg");
		background-image:cover;
		width: 300px;
		height: 300px;
		display: inline-block;
		border: 2px solid #FF9800;
		border-radius: 50%;
	}

		#produto1:hover{
			background-image: url("../img/chaveiro2.jpg");
			width: 300px;
			height: 300px;
			border: 2px solid #FFCC80;
			box-shadow: 0 2px 4px 0 rgba( 0, 0, 0, 0.2), 0 3px 10px 0 rgba( 0, 0, 0, 0.19);
		}

	#produto2{
		background-image: url("../img/agenda.jpg");
		background-image:cover;
		width: 300px;
		height: 300px;
		display: inline-block;
		border: 2px solid #FF9800;
		border-radius: 50%;
	}

		#produto2:hover{
			background-image: url("../img/agenda2.jpg");
			width: 300px;
			height: 300px;
			border: 2px solid #FFCC80;
			box-shadow: 0 2px 4px 0 rgba( 0, 0, 0, 0.2), 0 3px 10px 0 rgba( 0, 0, 0, 0.19);
		}

	#produto3{
		background-image: url("../img/caneta.jpg");
		background-image:cover;
		width: 300px;
		height: 300px;
		display: inline-block;
		border: 2px solid #FF9800;
		border-radius: 50%;
	}

		#produto3:hover{
			background-image: url("../img/caneta2.jpg");
			width: 300px;
			height: 300px;
			border: 2px solid #FFCC80;
			box-shadow: 0 2px 4px 0 rgba( 0, 0, 0, 0.2), 0 3px 10px 0 rgba( 0, 0, 0, 0.19);
		}

	#produto4{
		background-image: url("../img/squeeze.jpg");
		background-image:cover;
		width: 300px;
		height: 300px;
		display: inline-block;
		border: 2px solid #FF9800;
		border-radius: 50%;
	}

		#produto4:hover{
			background-image: url("../img/squeeze2.jpg");
			width: 300px;
			height: 300px;
			border: 2px solid #FFCC80;
			box-shadow: 0 2px 4px 0 rgba( 0, 0, 0, 0.2), 0 3px 10px 0 rgba( 0, 0, 0, 0.19);
		}

	#produto5{
		background-image: url("../img/regua.jpg");
		background-image:cover;
		width: 300px;
		height: 300px;
		display: inline-block;
		border: 2px solid #FF9800;
		border-radius: 50%;
	}

		#produto5:hover{
			background-image: url("../img/regua2.jpg");
			width: 300px;
			height: 300px;
			border: 2px solid #FFCC80;
			box-shadow: 0 2px 4px 0 rgba( 0, 0, 0, 0.2), 0 3px 10px 0 rgba( 0, 0, 0, 0.19);
		}

	#produto6{
		background-image: url("../img/caderno.jpg");
		background-image:cover;
		width: 300px;
		height: 300px;
		display: inline-block;
		border: 2px solid #FF9800;
		border-radius: 50%;
	}

		#produto6:hover{
			background-image: url("../img/caderno2.jpg");
			width: 300px;
			height: 300px;
			border: 2px solid #FFCC80;
			box-shadow: 0 2px 4px 0 rgba( 0, 0, 0, 0.2), 0 3px 10px 0 rgba( 0, 0, 0, 0.19);
		}

	#produto7{
		background-image: url("../img/caneca.jpg");
		background-image:cover;
		width: 300px;
		height: 300px;
		display: inline-block;
		border: 2px solid #FF9800;
		border-radius: 50%;
	}

		#produto7:hover{
			background-image: url("../img/caneca2.jpg");
			width: 300px;
			height: 300px;
			border: 2px solid #FFCC80;
			box-shadow: 0 2px 4px 0 rgba( 0, 0, 0, 0.2), 0 3px 10px 0 rgba( 0, 0, 0, 0.19);
		}

	#produto8{
		background-image: url("../img/lapis.jpg");
		background-image:cover;
		width: 300px;
		height: 300px;
		display: inline-block;
		border: 2px solid #FF9800;
		border-radius: 50%;
	}

		#produto8:hover{
			background-image: url("../img/lapis2.jpg");
			width: 300px;
			height: 300px;
			border: 2px solid #FFCC80;
			box-shadow: 0 2px 4px 0 rgba( 0, 0, 0, 0.2), 0 3px 10px 0 rgba( 0, 0, 0, 0.19);
		}

	#tudo{
		width: 100%;
		height: 80%;
		padding-bottom: 17px;
	}

	.espacoProduto{
		width: 300px;
		height: 350px;
		margin-left: 30px;
		margin-top: 15px;
		display: inline-block;
	}

	.descProduto{
		width: 300px;
		height: 20px;
		margin-top: 5px;
		text-align: center;
		font-family: Lucida Sans Unicode;
	}

		.nomeProduto{
			font-weight: bold;
			font-size: 18px;
		}

		.valor{
			font-size: 17px;
		}

#rodape{
	width: 100%;
	height: 5%;
	background-color: black;
	clear: both;
}

	#copyright{
		color: white;
		text-align:center;
		font-family: Georgia;
	}
