*{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Sans Unicode";
}

html{
	background-color:#FFE3A8;
}

input{
	background-color:#FEF2CD;
	border:none;
}

select{
	background-color:#FEF2CD;
	border:none;
}

textarea{
	background-color:#FEF2CD;
	border:none;
}
/*-----------------------------------------FORMULÁRIO-----------------------------------------------------*/

fieldset{
	border: 2px solid black;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 1%;
}

/*----------TEXTOS E INPUTS--------------*/
h1{
	font-family: Freestyle Script;
	font-size: 45px;
	text-align: center;
	color: black;
}

#titulo{
	font-family: Lucida Sans Unicode;
	font-size: 20px;
	color: black;
	font-weight: bold;
	margin-left: 1%;
}

#campoDesc{
	padding-top: 5px;
}

.campos{
	font-family: Lucida Sans Unicode;
	margin-left: 5%;
}

.camposForm{
	font-family: Lucida Sans Unicode;
	margin-left: 1%;
}

/*--------------BOTÕES--------------*/
#botao{
	border: none;
	background-color: transparent;
	float: left;
	margin-left:50%;
	margin-top:1%;
	margin-bottom: 1%;
}

.icones{
	border: none;
	background-color: transparent;
	float: left;
	margin-left:25%;
	margin-top:1%;
}

#botaoLimparCampos{
	margin-left: 40%;
}

#botaoConsultar{
	margin:  0 0 0 1%;
	padding-top: 10px;
}

#acoes button{
	margin-left: 15%;
}

#espacoBotao{
	margin-left:10px;
}
