*{
margin: 0px;
padding: 0px;
font-family: "Lucida Sans Unicode";
}

html{
	background-color:#FFE3A8;
}

input{
	background-color:#FEF2CD;
	border:none;
}

select{
	background-color:#FEF2CD;
	border:none;
}

/*---------------------------TITULO PRINCIPAL----------------------------------*/
#tituloPrincipal{
	font-family:Freestyle Script;
	font-size: 45px;
	color: black;
	text-align: center;
}

/*---------------------------FIELDSET----------------------------------------*/
.caixa{
	margin-top:;
	margin-left: 5%;
	margin-right:5%;
	border: 2px solid black;
}

.caixa legend{
	font-family:"Lucida Sans Unicode";
	font-size: 20px;
	color: black;
	font-weight: bold;
	margin-left:1%;
}

.caixa label{
	margin-left: 5%;

}

.caixa input{
	margin-left: 1%;
}

legend{
	margin-bottom: 2%;
}
/*--------------------------------------------------------------------------*/
/*-------------------------LABEL E INPUT------------------------------------*/

#codigo{
	margin-left:0.7%;
}

#labelnome{
	margin-left: 20%;
}

#dataG{
	margin-left:4.2%;
	width: 14.6%;
}

#labelDataE{
	margin-left: 20%;
}

#dataE{
	margin-left:1.2%;
	width: 14.6%;
}

#funcionario{
	margin-left:1%;
}

#labelStatus{
	margin-left: 20%;
}

#status{
	margin-left: 7.4%;
}

/*----------------------------------BOTÕES-----------------------------------*/
.botao{
		float: left;
		margin-left:46%;
		margin-top:2%;
		background-color: transparent;
		border: none;
}

#acoes button{
	margin-left: 15%;
}
